{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Person</title>
{% endblock %}


{% block body %}
    {% if person != None %}
            <h1>{{ person.id }}. {{ person.name }}</h1>
            <img src="{{ person.image.url }}" height="200px" width="200px" border="3px solid #d9d9d9" style="border-radius: 50%;">
            <p>Email: {{ person.email }}</p>
            <p>Phone: {{ person.phone_no }}</p>
            <p>Date Of Birth: {{ person.dob }}</p>
            <p>Profession: {{ person.profession }}</p>
            <p>Address: {{ person.address }}</p>
            <p>Department: {{ person.department }}</p>
            <br>
            <a href="{% url 'index' %}">Back</a>
        {% else %}
            <img src="../images/404.jpg" width="100%" height="100%">
        {% endif %}
{% endblock %}